@model IEnumerable<santisart_app.Models.viewdetail>

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<head>
    <script type="text/javascript" language="javascript" class="init">

        $(document).ready(function () {
            $('#example1').DataTable({
                "pageLength": 50,
                "scrollY": "200px",
                "scrollCollapse": false,
                "info": true,
                "paging": true,
                'aoColumns': [
                    { sWidth: "15%", bSearchable: false, bSortable: false },
                    { sWidth: "15%", bSearchable: false, bSortable: false },
                    { sWidth: "15%", bSearchable: false, bSortable: false },
                    { sWidth: "15%", bSearchable: false, bSortable: false },
                    { sWidth: "15%", bSearchable: false, bSortable: false },
                    { sWidth: "15%", bSearchable: false, bSortable: false },
                ],
            });
        });

    </script>
</head>
@{ 
    var Student_id = Model.FirstOrDefault().Student_id;
}
<h3>รายการการจ่าย</h3> <a class="btn btn-success" href="@Url.Action("paid", "FoodPaid",new {Student_id=Model.FirstOrDefault().Student_id })">เพิ่มรายการการจ่าย</a>
<p><h3>@Model.First().Student_title@Model.First().Student_name  @Model.First().Student_lname</h3>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="example1" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
            <thead>
                <tr>
                    <th class="sorting_asc">ลำดับ</th>          
                    <th class="sorting_asc">ปีการศึกษา</th>      
                    <th class="sorting_asc">เดือน(ไทย)</th>     
                    <th class="sorting_asc">ปีพ.ศ.</th>    
                    <th class="sorting_asc">ค่าอาหาร</th>              
                    <th class="sorting_asc">ชั้น</th>  
                    <th class="sorting_asc">รหัสการจ่าย</th>        
                    <th class="sorting_asc">จ่าย</th>                               
                                         
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td></td>
                    <td>@item.Monthly_id</td>
                    <td>@item.Month_year</td>
                    <td>@item.Month_name</td>
                    <td>@item.Month_yearindex</td>
                    <td>@item.Month_course </td>
                    <td>@item.Class_name_id/@item.Class_room</td>
                    <td>@item.Paid_id</td>
                    <td>@item.Paid</td>

                    
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<h2>Index</h2>