@model IEnumerable<santisart_app.Models.Enroll_student_class>

@{
    ViewBag.Title = "Index";
}
@{
    ViewBag.Title = "รายการจ่ายเงินค่าอาหาร ของ";
}
<head>
    <script type="text/javascript" language="javascript" class="init">

        $(document).ready(function () {
            $('#example1').DataTable({
                "scrollY": "200px",
                "scrollCollapse": false,
                "info": true,
                "paging": true,
                'aoColumns': [
                    { sWidth: "15%", bSearchable: false, bSortable: false },
                    { sWidth: "15%", bSearchable: false, bSortable: false },
                    { sWidth: "15%", bSearchable: false, bSortable: false },
                    { sWidth: "15%", bSearchable: false, bSortable: false },
                    { sWidth: "15%", bSearchable: false, bSortable: false },
                    { sWidth: "15%", bSearchable: false, bSortable: false },
                ],
            });
        });

    </script>
</head>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
    <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
        <thead>
            <tr>
                <th class="sorting_asc">ลำดับ</th>
                <th class="sorting_asc">รหัสนักเรียน</th>
                <th class="sorting_asc">คำนำหน้า</th>
                <th class="sorting_asc">ชื่อ</th>
                <th class="sorting_asc">นามสกุล</th>
                <th class="sorting_asc">เดือน(ไทย)</th>
                <th class="sorting_asc">เดือนที่</th>
                <th class="sorting_asc">จ่าย</th>
                <th class="sorting_asc">จำนวนเต็ม</th>
                <th class="sorting_asc">ชั้น</th>
                <th class="sorting_asc">ปี</th>
                <th class="sorting_asc">วันที่บันทึก</th>
                <th class="sorting_asc">ผู้บันทึก</th>
                <th class="sorting_asc">รหัสการจ่าย</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item..FoodId</td>
                    <td>@item.FoodIdStudent</td>
                    <td>@item.FoodTitle</td>
                    <td>@item.FoodName</td>
                    <td>@item.FoodLastname</td>
                    <td>@item.FoodMonthTh</td>
                    <td>@item.FoodMonthIndex</td>
                    <td>@item.FoodPaid</td>
                    <td>@item.FoodFullPaid</td>
                    <td>@item.FoodClass</td>
                    <td>@item.FoodYear</td>
                    <td>@item.FoodTimesatamp</td>
                    <td>@item.FoodUpdate</td>
                    <td>@item.FoodPaidId</td>
                    <td>
                        <a asp-action="Details"
                           asp-route-id="@item.FoodIdStudent">Detials</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
   
    </div>