@model IEnumerable<santisart_app.Models.ViewStudentClass>
@{
    ViewBag.Title = "รายการจ่ายเงินค่าอาหาร ของ";
}
<head>
    <style>
        .btn {
            padding: 2px 4px;
            margin-bottom: 0px;
        }
    </style>

</head>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>
            รายการการจ่าย  Model.FirstOrDefault(p => p.FoodLastname != "").FoodName
        </h3>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <span class="btn btn-primary">เพิ่มรายการ</span>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="datatable" class="table table-striped table-bordered dataTable no-footer e table-striped jambo_table bulk_action hover dt-cen" role="grid" aria-describedby="datatable_info">
            <thead>

                <tr>
                    <th>
                        
                    </th><th>
                        รหัส
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().students.Student_title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().students.Student_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().students.Student_lname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Class2.Class_name_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Class2.Class_room)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href='@Url.Action("Details","FoodPaid",new { item.students.Student_id }) ' class="btn btn-primary" aria-label="Left Align">
                                <span class="fa fa-plus-square fa-lg" aria-hidden="false"></span>
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.students.Student_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.students.Student_title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.students.Student_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.students.Student_lname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Class2.Class_name_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Class2.Class_room)
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" language="javascript" >

    $(document).ready(function () {
        //console.sole("santisart");
        var table = $('#datatable').DataTable({
            "pageLength": 20,
            select: {
                style: 'multi'
            },
            "columnDefs": [
                { "className": "dt-center", "targets": "_all" }
            ]
        });
        //$('#datatable tbody').on('click', 'tr', function () {
        //    var data = table.row(this).data();
        //    alert('You clicked on ' + data[0] + '\'s row');
        //    document.location.href = '?/foodpaid/Details?Student_id=' + data
        //});
    });

</script>