@model santisart_app.Models.EnrollStudentCouse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EnrollStudentCouse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearEdu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearEdu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enroll_Emp_Pos.EnrEmpPosId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enroll_Emp_Pos.EnrEmpPosId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollCouse.CouseTxtId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollCouse.CouseTxtId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students.Student_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.Student_title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollStudentCouseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
