@model IEnumerable<santisart_app.Models.EnrollStudentCouse>
@using System.Linq
<div class="right" role="main">
    <h2>@Model.First().Students.Student_title) @Model.First().Students.Student_name</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @{
        //var listScore = ;
        //var listScore2 = ;
        //ViewBag.studentCouse;
        int[] enrollClass = { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13 };
        //Model.Where(x => x.EnrollCouse.ClassId == 13);
        //foreach (var item in Model.Where(x=>x.EnrollCouse.ClassId==13).toList())
        //{
        //foreach (var item2 in)
        //{

        //}
        ////}
    }
    @foreach (var itemClass in enrollClass)
    {
        //var itemCouseByClass = Model.Where(x => x.EnrollCouse.ClassId == itemClass);
        if (Model.Where(x => x.EnrollCouse.ClassId == itemClass).Count() != 0)
        {
            for (int i = 1; i < 3; i++)
            {
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>ปีการศึกษา @Model.Where(x => x.EnrollCouse.ClassId == itemClass && x.Semester == i).First().YearEdu <small>เทรอม @i</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="#">Settings 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>

                                        
                                        <th>
                                            @Html.DisplayNameFor(model => model.EnrollCouse.CouseTxtId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EnrollCouse.Course.CourseName)
                                        </th><th>
                                            @Html.DisplayNameFor(model => model.Score)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Grade)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Staff)
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model.Where(x => x.EnrollCouse.ClassId == itemClass && x.Semester == i))
                                    {
                                        <tr>

                                            
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EnrollCouse.CouseTxtId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EnrollCouse.Course.CourseName)
                                            </td> <td>
                                                @Html.DisplayFor(modelItem => item.Score)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Grade)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Staff)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.EnrollStudentCouseId }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.EnrollStudentCouseId }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.EnrollStudentCouseId })
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            }

        }


    }

</div>