@model santisart_app.Models.studentEduContest2561

@{
    ViewBag.Title = "เพิ่มนักเรียน";
}

<h2>เพิ่มนักเรียน</h2>
<style>
    .ui-autocomplete {
        position: absolute;
        z-index: 1000;
        cursor: pointer;
        padding: 0;
        margin-top: 2px;
        list-style: none;
        background-color: #ffffff;
        border: 1px solid #ccc -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

        .ui-autocomplete > li {
            padding: 3px 20px;
        }

            .ui-autocomplete > li.ui-state-focus {
                background-color: #DDD;
            }

    .ui-helper-hidden-accessible {
        display: none;
    }
</style>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>งานวิชาการ ครั้งที่ 3</h4>
    <hr />
    <div>
        @Html.ActionLink("กลับหน้าหลัก", "Index", null, new { @class = "btn bg-orange" })
    </div>
    <div class="form-group">

        @Html.HiddenFor(model => model.Student_id)
        @Html.ValidationMessageFor(model => model.Student_id, "", new { @class = "text-danger" })

    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Student_title, htmlAttributes: new { @class = "control-label  col-md-2 col-sm-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Student_title, new { htmlAttributes = new { @class = "form-control" , @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.Student_title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Student_name, htmlAttributes: new { @class = "control-label  col-md-2 col-sm-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Student_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Student_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Student_lname, htmlAttributes: new { @class = "control-label  col-md-2 col-sm-2",  })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Student_lname, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.Student_lname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Class_name_id, htmlAttributes: new { @class = "control-label  col-md-2 col-sm-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Class_name_id, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.Class_name_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Class_room, htmlAttributes: new { @class = "control-label  col-md-2 col-sm-2" })
        <div class="col-md-10">
            
            @Html.EditorFor(model => model.Class_room, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.Class_room, "", new { @class = "text-danger" })
        </div>
    </div>

   


        
      
            @Html.HiddenFor(model => model.Class_id)
           
     
  

       
            @Html.HiddenFor(model => model.TypeContest_id)
      


    <div class="form-group">
        @Html.LabelFor(model => model.NameContest, htmlAttributes: new { @class = "control-label  col-md-2 col-sm-2" })
        <div class="col-md-10 ">
            <select class="form-control" id="NameContest" name="NameContest"></select>
            @Html.ValidationMessageFor(model => model.NameContest, "", new { @class = "text-danger" })
        </div>
    </div>



   

   


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="เพิ่ม" class="btn bg-primary" />
        </div>
    </div>
</div>
}



<script type="text/javascript" language="javascript">
    $(document).ready(function () {


        $.ui.autocomplete.prototype._renderItem = function (table, item) {
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<div id='ui-id-52' tabindex='-1' class='ui-menu-item-wrapper'>" + item.Student_name + " " + item.Student_lname+" " + item.Class_name_id +"/"+ item.Class_room +"</div>")
                .appendTo(table);
        };
        $('#Student_name').autocomplete({
            source: 'getcountries',
            select: function (event, ui) {
                //set tagids to save
                $("#CountryId").val(ui.item.id);
                $("#Student_id").val(ui.item.Student_id);
                $("#Student_title").val(ui.item.Student_title);
               $("#Student_lname").val(ui.item.Student_lname);
                $("#Class_name_id").val(ui.item.Class_name_id);
                $("#Class_room").val(ui.item.Class_room);
                $("#Class_id").val(ui.item.Class_id);

                //Tags for display
                this.value = ui.item.Student_name;
                return false;
            }
        });
        $.ajax({
            type: "GET",
            url: "getDepartment",
            data: "{}",
            success: function (data) {
                var s = '';
                for (var i = 0; i < data.length; i++) {
                    s+= '<option value="' + data[i].DepartmentID + '">' + data[i].DepartmentName + '</option>';
                }
                $("#NameContest").html(s);
            },
            
        });  
    
    });
</script>