@model santisart_app.Models.attdeanceBymonth

@{
    ViewBag.Title = "Index";
}
<style>
    table {
        border: 1px solid black;
    }

        table th {
            border-bottom: 1px solid black;
        }


    th.rotate {
        height: 80px;
        white-space: nowrap;
        position: relative;
    }

        th.rotate > div {
            transform: rotate(270deg);
            position: absolute;
            left: 0;
            right: 0;
            top: 52px;
            margin: auto;
        }
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form action="@Url.Action("index", "Attendance")">
    <select name='myfield' onchange='this.form.submit()'>
        <option selected>Milk</option>
        <option>Coffee</option>
        <option>Tea</option>
    </select>
    <noscript><input type="submit" value="Submit"></noscript>
</form> <div class="col-lg-3">
    <form action="@Url.Action("index", "Attendance")">

        @Html.DropDownList("classId", (IEnumerable<SelectListItem>)Model.classList, new { @class = "form-control", onchange = "this.form.submit();" })

        <noscript><input type="submit" value="Submit"></noscript>
    </form>
</div>
<input type="button" id="goClass" class="btn btn-default" value="Go" />
<table class="table table-bordered ">
    <thead>
        <tr>

            <th></th>
            @foreach (var item in Model.attMonth)
            {




                <th class="rotate">
                    @*@item.attday_date!= null ? item.attday_date.ToString("MM/dd/yyyy"): "n/a"*@

                    @{ var textdate = item.attday_date != null ? item.attday_date.Value.ToString("dd/MM/yyyy") : "n/a";


                        <div><span>@textdate</span></div>
                    }
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.studentByClass)
        {

            <tr>
                <td>
                    @(item.Student_title + " " + item.Student_name + " " + item.Student_lname)


                </td>
                @foreach (var item2 in Model.attMonth)
                {
                    // var colorTd = "cornflowerblue";
                    var cHeckTocolor = Model.attStudent.Where(x => x.Student_id == item.Student_id && x.attday_id == item2.attday_id).Select(x=>x.attday_id).FirstOrDefault();
                    var cHeckTocolor2 = cHeckTocolor != null ? "cornflowerblue" : "crimson";
                    //if (item2. == 0)
                    //{
                    //    colorTd = "crimson";
                    //}
                    <td style='background-color:@cHeckTocolor2 '></td>
                }

            </tr>
        }


    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#selectClass').click(function () {

        });
</script>

