@model IEnumerable<santisart_app.Models.EnrollClass>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="left">
    <h2>@ViewBag.Emp.EmpTitle @ViewBag.Emp.EmpName @ViewBag.Emp.EmpLname</h2>
    <h3>สอนวิชา:@ViewBag.Couse.CouseTxtId @ViewBag.Couse.Course.CourseName</h3>
    <h4>ชั้น:@ViewBag.Couse.ClassInSchool.ClassName</h4>
</div>
<h1></h1>
@using (Html.BeginForm())
{
    var indexClass = 0;


    <table class="table">
        <tr>
            <th></th>
           
            <th>
                @Html.DisplayNameFor(model => model.Teacher_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class_room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class_year_index)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassInSchool.ClassShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollClass_id) 
            </th>
            
        </tr>

      
        @foreach (var item in Model)
            {
            <tr>
                
                <input type="hidden" value="@ViewBag.EnEmpCouseId" name="EnrollEmpCouseClass2[@indexClass].EnEmpCouseId" />
                <input type="hidden" value="@item.ClassSchoolid" name="EnrollEmpCouseClass2[@indexClass].Status"/>
                <td>
                    @if (item.EnrollEmpCouseClass.Where(z=>z.Status!=0&&z.EnEmpCouseId== ViewBag.EnEmpCouseId).Count() > 0)
                    {
                        @Html.CheckBox(item.EnrollClass_id.ToString(), new
                                       {
                                           @class = "form-control",
                                           Name = "EnrollEmpCouseClass2[" + indexClass + "].EnClassId",
                                           Value= item.EnrollClass_id,
                                           @checked = "checked"
                                       })
                    }
                    else
                    {
                        @Html.CheckBox(item.EnrollClass_id.ToString(), new
                                      {
                                          @class = "form-control",
                                          Name = "EnrollEmpCouseClass2[" + indexClass + "].EnClassId",
                                          Value= item.EnrollClass_id
                                      })
                    }

                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Teacher_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class_room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class_year_index)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassInSchool.ClassShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollClass_id)
                </td>


            </tr>
            indexClass++; }
            
    </table>
    <div class="form-group text-left">
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
}