@model santisart_app.Models.EnrollEmpCouse

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>EnrollEmpCouse</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">ชั้นเรียน</label>

            <div class="col-md-10">
                @Html.DropDownList("ClassInSchool", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EnCouseId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EnYearSemId, "EnYearSemId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EnYearSemId", new SelectList(string.Empty, "Value", "Text"), "-- ปีการศึกษา--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EnYearSemId, "", new { @class = "text-danger" })
            </div>
        </div>
     
        <div class="form-group">
            @Html.LabelFor(model => model.EnCouseId, "EnCouseId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EnCouseId", new SelectList(string.Empty, "Value", "Text"), "-- เลือกวิชาสอน --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EnCouseId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EnEmpId, "EnEmpId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EnEmpId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EnEmpId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">


    $(document).ready(function () {
        $("#ClassInSchool").change(function () {
            $("#EnYearSemId").empty();
            $("#EnCouseId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getDdEnYear")',

                dataType: 'json',

                data: { id: $("#ClassInSchool").val() },


                success: function (states) {


                    $.each(states, function (i, state) {
                        $("#EnYearSemId").append('<option value="' + state.Value + '">' +
                            state.Text + '</option>');

                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve country states.' + ex);
                }
            });
            return false;
        });
        $("#EnYearSemId").change(function () {
            $("#EnCouseId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getDdEnCouse")',

                dataType: 'json',

                data: { id: $("#ClassInSchool").val() },


                success: function (states) {


                    $.each(states, function (i, state) {
                        $("#EnCouseId").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');

                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve country states.' + ex);
                }
            });
            return false;
        })
    });

</script>   