@model IEnumerable<santisart_app.Models.EnrollCouse>

@using (Html.BeginForm())
{ var indexEnroll = 0;
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>EnrollCouse</h4>
    <hr />
    


    <table class="table">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>@foreach (var item in Model)
        {
            <tr>
                <td class="col-md-2 col-lg-1">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(modelItem => item.CouseTxtId,
                            new { htmlAttributes = new { @class = "form-control",
                                @id = "EnrollCouse[" + indexEnroll + "].CouseTxtId",
                                Name = "EnrollCouse[" + indexEnroll + "].CouseTxtId" } })
                             </div>
                    </div>
                </td>
                <td class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-12">
                              <select class="form-control"  Name ="EnrollCouse[@indexEnroll].CouseId">
           @foreach (SelectListItem option in ViewBag.CouseId)
           {
               var trueTxT = "";
               if (Convert.ToInt32(option.Value) == item.CouseId)
               {
                   trueTxT = "selected";
               }

                                    <option value="@option.Value" @trueTxT>@option.Text</option>
           }

                            </select>
</div>
                    </div>
                </td>
              
                <td class="col-md-1 col-lg-1">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(modelItem => item.CouseTime,
                           new { htmlAttributes = new
                           {
                               @class = "form-control",
                               Name = "EnrollCouse[" + indexEnroll + "].CouseTime"
                           }
                           })
                             </div>
                    </div>
                </td>
                <td class="col-md-2 col-lg-1">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(modelItem => item.CouseWeight__,
                           new { htmlAttributes = new
                           {
                               @class = "form-control",
                               Name = "EnrollCouse[" + indexEnroll + "].CouseWeight__"
                           }
                           })
                             </div>
                    </div>
                </td>
                <td class="col-md-2 col-lg-2">

                    <div class="form-group">
                        <div class="col-md-12">
                            <select class="form-control"  Name ="EnrollCouse[@indexEnroll].ClassId">
                                @foreach (SelectListItem option in ViewBag.ClassId)
                                {
                                    var trueTxT = "";
                                    if (Convert.ToInt32(option.Value) == item.ClassId)
                                    {
                                        trueTxT = "selected";
                                    }

                                    <option value="@option.Value" @trueTxT>@option.Text</option>
                                }

                            </select>
                        </div>
                    </div>
                </td>
                <td class="col-md-1 col-lg-1">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(modelItem => item.semester__, new { htmlAttributes =
                           new
                           {
                               @class = "form-control",
                               Name = "EnrollCouse[" + indexEnroll + "].CouseWeight__"
                           }
                       })
                             </div>
                    </div>

                    @Html.HiddenFor(modelItem => item.EnrollCouseID)
                </td>
                <td class="col-md-1 col-lg-1">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(modelItem => item.IndexSort, new { htmlAttributes = new { @class = "form-control",
                           Name = "EnrollCouse[" + indexEnroll + "].IndexSort"
                       } })
                             </div>
                    </div>

                    @Html.HiddenFor(modelItem => item.EnrollCouseID,
                   new { Name = "EnrollCouse[" + indexEnroll + "].EnrollCouseID" })
                </td>
            </tr>
            indexEnroll++;
        }
    </table>

        

        

        
        
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>