@model santisart_app.Models.TestStudentCourse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestStudentCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestCourse.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestCourse.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestStudent.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestStudent.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentCourseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
